/*styling list title*/
.personal-interests h2 {
    font-weight: bold;;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;;
}

/*styling unordered list*/
.personal-interests li {
    list-style-type: square;
    color:rgb(61, 6, 9);
    margin: 5px;
    font-size: 18px;
    font-style: italic;
}
   


.home-footer {
    color:mediumblue;
    font-weight: bold;
    font-style:italic
}